global:
  slack_api_url: 'https://hooks.slack.com/services/XXXXXXXXXXXXXXXXXXXXXXXXXXX'
  # smtp_from: 'alert_sender@gmail.com'
  # smtp_smarthost: 'smtp.gmail.com:587'
  # smtp_auth_username: 'alert_sender@gmail.com'
  # smtp_auth_identity: 'alert_sender@gmail.com'
  # smtp_auth_password: 'super_secret_password'

route:
  receiver: 'slack-notifications'

receivers:
- name: 'slack-notifications'
  slack_configs:
  - channel: '#XXXXXXXXXXXXX'
#  email_configs:
#  - to: 'alert_recipient@gmail.com'
